@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
* {

  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

